body {
    width: 300px;
    height: 280px;
}

#goggiquote {
    font-size: 24px;
    color: #000;
    text-align: center;
    margin-top: 20px;
    display: block;
    height: 150px;
    font-style: italic;
}

#gimmemore {
    font-size: 18px;
    color: #000;
    text-align: center;
    margin-top: 20px;
    display: block;
    height: 30px;
    margin: 0 auto;
}