body {
    width: 300px;
    height: 280px;
}

.quote-wrapper {
    font-size: 24px;
    color: #000;
    text-align: center;
    margin-top: 20px;
    display: block;
    min-height: 150px;
    font-style: italic;
    border: solid 3px #000;
    border-radius: 10px;
    padding: 6px;
    position: relative;
}

#gimmemore {
    font-size: 18px;
    color: #000;
    text-align: center;
    margin-top: 20px;
    display: block;
    height: 30px;
    margin: 0 auto;
}

#audioplayer {
    display: none;
}

#top-left {
    position: absolute;
    top: -10px;
    left: -10px;
    background-color: #FFF;
    padding: 2px;
    border-radius: 2px;
    width: 24px;
    height: 24px;
}

#bottom-right {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #FFF;
    padding: 5px;
}